@font-face {
    font-family: "Secular One";
    src: url("../fonts/Secular_One/SecularOne-Regular.ttf");
}

.label-font {
    -fx-font-family: "Secular One";
    -fx-font-size: 60;
}

.focus-product-element-choice{
    -fx-font-family: "Secular One";
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.btn{
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-font-family: "Secular One";
}

.btn-black{

    -fx-font-size: 20;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Secular One";
    -fx-background-radius: 4em;
}
.btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-style: solid;
}

.btn-transparent{

    -fx-font-family: "Secular One";
    -fx-font-size: 30;
    -fx-background-color: transparent;

}

.contentPane{
    -fx-background-color: black;
}

.box-shadow{
    -fx-border-color: #555555;
    -fx-border-radius: 10;
}

.home-background {

    /*-fx-background-image: url("../images/HeroImage-1.jpg");*/
    -fx-background-repeat: no-repeat;
    -fx-fill-height: 100%;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.location-background {

    /*-fx-background-image: url("../images/cafe_restaurant_3.jpg");*/
    -fx-background-repeat: no-repeat;
    -fx-fill-height: 100%;
    -fx-background-position: center;
    -fx-background-size: cover;
}

/*Focus Product Element style */

.tab{

    -fx-pref-height: 100;
    -fx-pref-width: 390;
}

.option-price{

    -fx-font-size: 20;
    -fx-font-family: "Secular One";
    -fx-text-fill: #00c853 ;
}

.option-subsection-name{

    -fx-font-size: 30;
    -fx-font-family: "Secular One";
    -fx-border-color: lightgrey;
    -fx-border-width: 0px 0px 3px 0px;

}

.product-element-description{
    -fx-font-family: "Secular One";
    -fx-font-size: 30;
    -fx-text-fill: grey;
}

.option-container{
    -fx-border-color: lightgrey;
    -fx-border-width: 0px 0px 0px 5px;
}

.product-element-container{
    -fx-border-color: lightgrey;
    -fx-border-width: 0px 0px 0px 3px;
}

.option-product-element-checkbox{
    -fx-font-family: "Secular One";
    -fx-font-size: 30;
}

.product-element-quantity{
    -fx-background-radius: 4em;
    -fx-border-radius: 4em;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
}

.product-element-label{
    -fx-font-family: "Secular One";
    -fx-font-size: 20;
}